.profile {
    height: 100vh;
    width: 100vw;
}

.content {
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
    margin-top: 70px;
}

img{
    height: 400px;
}

.profile-desc {
    width: 500px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}