.title{
    text-align: center;
    font-style: normal;
    // padding: 20px 0;
    h3 {
        font-family: 'IBM Plex Mono';
        font-weight: 600;
        font-size: 24px;
        line-height: 31px;
    }
    
    p {
        font-family: 'Source Sans Pro';
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;     
        color: #808080;
    }
}
